<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <div class="exercise">
        
    </div>

    <div class="nextExercise displayNone">
        <p class="message"></p>
        <button id = "showNext">Напред</button>
    </div>
    
    <script src="/js/checkCorrectAnswer.js" exercises = "<%= JSON.stringify(lessonExercises) %>" id = "<%= id %>"></script>
</body>
</html>