<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
    <%- include('partials/header') %>

    <section class = "sections">
        <% for(let section of sections) { %>
            <div class = "section">
                <p>Раздел <%= section.id %></p>
                <a href="/section/<%= section.id %>/lessons %>">Начало</a>
            </div>
        <% } %>
    </section>
</body>
</html>