body{
    margin: 0 auto;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: #87A922;
    color: white;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    margin-right: 2rem
}

header a {
    text-decoration: none;
    color: white;
}

/* SECTIONS & LESSONS */
main {
    display: flex;
    margin-top: 2rem;
}

.popover {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sections,
.lessons {
    overflow-y: scroll;
    height: 92vh;
}

.sections {
    display: grid;
    width: 40%;
    justify-content: flex-start;
}

.sections::-webkit-scrollbar,
.lessons::-webkit-scrollbar {
    display: none;
}

.lessons {
    width: 50%;
    justify-content: center;
    display: block;
    text-align: center;
}

.section,
.lesson {
    display: block;
    margin-bottom: 2rem;
}

.section {
    padding: 1.5rem 15rem 1.5rem 1rem;
    background-color: #ffd900;
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-content: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    height: 7rem;
}

.section p {
    margin-top: 0;
}

.section a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #c9ab00;
    background-color: #ffd900;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.section a:hover {
    background-color: #e6c302;
}

.section a:active {
    box-shadow: none;
}

/* EXERCISES */
.exerciseSection {
    margin-top: 1rem;
}

.exercise {
    padding: 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.optionButton {
    background-color: white;
    padding: 1rem 2rem;
    margin-right: 10px;
    border: 1px solid #87A922;
    border-radius: 5px;
    box-shadow: 0 2px rgb(222, 255, 122, 0.5);
}

.optionButton:hover {
    background-color: #deff7a;
}

.optionButton:active {
    box-shadow: none;
}

.clicked,
.optionButton:active {
    background-color:#deff7a;
}

.checkAnswer {
    display: block;
}

.displayNone {
    display: none;
}

#myProgress {
    width: 50%;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 15px;
}
  
#myBar {
    width: 0;
    border-radius: 15px;
    height: 30px;
    background-color: #87A922;
}

/* ICONS */

.fa-star {
    font-size: 4rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.fa-star:active {
    text-shadow: none;
}

.completed {
    color:#ffd900;
}