#addForm {
    position: absolute;
    left: 45%;
}

.formInput {
    margin-top: 1rem;
    display: table-caption;
}

form input,
form select {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

form select {
    width: 100%;
}

form button {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a span {
    color: blue;
    text-decoration: underline;
}

.alignCenter {
    text-align: center;
}

.hidden {
    display: none;
}