/* LOGIN & REGISTRATION FORMS */

#registerForm {
    text-align: center;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: din-round, sans-serif;
}

.sign input {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.registerLink {
    color: #1899d6;
}

.loginBtn {
    width: 100%;
}

.nextBtn,
.prevBtn,
.signButton {
    padding: 0.8rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.signButton {
    box-shadow: 0px 3px #1899d6;
    background-color: #1cb0f6;
    border: none;
}

.signButton:hover {
    background: linear-gradient(to right,
            #1cb0f6 0%,
            #4ac7fc 25%,
            #7ad9ff 50%,
            #4ac7fc 75%,
            #1cb0f6 100%);
}

.signButton:active {
    box-shadow: none;
}

.step {
    display: none;
}

.nextBtn,
.prevBtn {
    background-color: white;
    box-shadow: 0px 3px #b9b8b6;
    border: 1px solid #b9b8b6;
}

.nextBtn:hover,
.prevBtn:hover {
    background: linear-gradient(to right,
            #dcdad7 0%,
            #ebe9e6 25%,
            #f8f6f3 50%,
            #ebe9e6 75%,
            #dcdad7 100%);
}

.prevBtn {
    margin-left: 10px; 
}

#registerForm input {
    width: 90%;
}


/* ADD COURSE */

#addCourseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.flagButton {
    border: 1px solid gray;
    padding: 3rem 1rem;
    text-align: center;
    margin: 2rem;
    max-width: 100%;
    min-width: 150px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 2px black;
}

.flagButton:active {
    box-shadow: none;
}

.flag {
    width: 5rem;
    border-radius: 10px;
}

.selected {
    background-color: #eeeeee;
}


/* BUTTONS */

.add,
.update,
.remove {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Calibri';
}

.add {
    background-color: #87A922;
    border: 1px solid #87A922;
}

.update {
    background-color: aqua;
    border: aqua;
}

.remove {
    background-color: white;
    border:none;
    color: red;
    display: inline;
    padding: 0;
    cursor: pointer;
}

.disabled {
    background-color: lightgray;
    border-color: lightgray;
    pointer-events: none;
    cursor: default;
}


/* FLASH MESSAGES */

.alert {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    align-items: center;
    margin-top: 10px;
}

.success {
    color: #0a3622;
    background-color: #d1e7dd;
    border: 1px solid #a3cfbb;
}

.error {
    color: #58151c;
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
}

.closeAlertBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}