/* COMMONG */
.capitalize {
    text-transform: capitalize;
}

.startLesson,
.shopItemButton,
.reviewLesson {
    transition: 0.5s;
    text-decoration: none;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.startLesson:hover,
.shopItemButton:hover,
.reviewLesson:hover {
    transition: 0.5s;
    border: 1px solid #ffc800;
    background-color: white;
    color: #ffc800;
}

body {
    margin: 0 auto;
    background-color: #f8f6f3;
}

.lessonsBody,
.flashcardsBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lessonsBody::-webkit-scrollbar,
.sections::-webkit-scrollbar,
.lessons::-webkit-scrollbar,
.flashcardsBody::-webkit-scrollbar,
.flashcardCategories::-webkit-scrollbar,
.flashcards::-webkit-scrollbar {
    display: none;
}

.sectionsMain,
.flashcardsMain {
    margin: 0;
    flex: 1;
    overflow: hidden;
}


/* HOME PAGE */

.homepage {
    margin: 0;
    text-align: center;
}

.homepage-left,
.homepage-right {
    width: 50%;
    height: 100vh;
}

.homepage-left,
.homepage-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-right {
    position: relative;
}

.homepage-right a,
.homepage-right h3 {
    z-index: 1;
    text-decoration: none;
}

.homepage-right::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffc800;
    border-top-left-radius: 70%;
}

.homepage-right a {
    min-width: 150px;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.homepage-right a:active {
    margin-top: 3px;
    border: none;
}

.register {
    background-color: #58cc02;
    color: white;
    border-bottom: 3px solid #224e00;
}

.register:hover {
    background: linear-gradient(to right,
            #3b9400 0%,
            #4ab800 25%,
            #58cc02 50%,
            #4ab800 75%,
            #3b9400 100%);
}

.login {
    background-color: #f8f6f3;
    color: black;
    border-bottom: 3px solid #b9b8b6;
}

.login:hover {
    background: linear-gradient(to right,
            #dcdad7 0%,
            #ebe9e6 25%,
            #f8f6f3 50%,
            #ebe9e6 75%,
            #dcdad7 100%);
}


/* HEADER */

header {
    padding: 0 3.5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li {
    margin-right: 2rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:visited {
    color: black;
}

.dropbtn {
    background: none;
    border: none;
}

.selectCourseDropdown,
.profileDropdown {
    position: relative;
    display: inline-block;
}

.userCourses,
.profileLinks {
    margin-top: 10px;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
}

.userCourses::before,
.profileLinks::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    transform: translateX(-50%);
}

.course {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

.userCourses img {
    width: 50px;
    padding: 10px;
}

.selectCourseDropdown:hover .userCourses,
.profileDropdown:hover .profileLinks {
    display: block;
}

.addLanguage {
    border-top: 1px solid black;
    padding: 10px;
}

.headerFlag {
    width: 30px;
}

.profileLinks {
    padding: 1rem;
}

.profileLinks a {
    margin-bottom: 1rem;
}

.profileLinks a p {
    margin-top: 0;
}

/* SECTIONS & LESSONS */

.sectionTypes {
    width: 95%;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 15px;
}

main {
    display: flex;
}

.popover {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    border: 1px solid #ffc800;
    padding: 2rem 4rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.popover::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffc800 transparent;
    transform: translateX(-50%);
}

.startLesson,
.reviewLesson,
.lessonCompleted button {
    padding: 1rem 4rem;
}

.reviewLesson {
    margin-bottom: 1rem;
    cursor: pointer;
}

.sections,
.lessons,
.flashcardCategories,
.flashcards {
    overflow-y: scroll;
}

.sections {
    padding-top: 1rem;
}

.lessons {
    display: flex;
    flex-grow: 1;
    display: block;
    text-align: center;
}

.lessonSequence {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #ffc800;
    font-family: cursive;
}

.section,
.lesson {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.section {
    padding: 1.5rem 15rem 1.5rem 1rem;
    background-color: #ffc800;
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-content: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
}

.section:nth-child(5n),
.section:nth-child(5n) button {
    background-color: #ff86d0;
}

.section:nth-child(5n) button {
    border: 2px solid #e455ad;
    box-shadow: 0 2px #e455ad;
}

.section:nth-child(5n+1),
.section:nth-child(5n+1) button {
    background-color: #1cb0f6;
}

.section:nth-child(5n+1) button {
    border: 2px solid #1a9edb;
    box-shadow: 0 2px #1a9edb;
}

.section:nth-child(5n+2),
.section:nth-child(5n+2) button {
    background-color: #58cc02;
}

.section:nth-child(5n+2) button {
    border: 2px solid #4fb401;
    box-shadow: 0 2px #4fb401;
}

.section:nth-child(5n+3),
.section:nth-child(5n+3) button {
    background-color: #00cd9c;
}

.section:nth-child(5n+3) button {
    border: 2px solid #00ad85;
    box-shadow: 0 2px #00ad85;
}

.section:nth-child(5n+4),
.section:nth-child(5n+4) button {
    background-color: #ce82ff;
}

.section:nth-child(5n+4) button {
    border: 2px solid #bd5aff;
    box-shadow: 0 2px #bd5aff;
}

.section:nth-child(5n+5),
.section:nth-child(5n+5) button {
    background-color: #ff9600;
}

.section:nth-child(5n+5) button {
    border: 2px solid #e28400;
    box-shadow: 0 2px #e28400;
}

.selected-section,
.selected-section button {
    background-color: #ffc800 !important;
}

.selected-section button {
    border: 2px solid #d6a800 !important;
    box-shadow: 0 2px #d6a800 !important;
}

.section p {
    margin: 0;
}

.section button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    
    cursor: pointer;
}

.section button:hover {
    box-shadow: none;
}

.description {
    font-weight: 500;
}

.showLessonsBtn {
    margin-top: 1rem;
}

/* EXERCISES */
.optionButton {
    margin-bottom: 1rem;
}

.exerciseSection {
    margin-top: 1rem;
}

.exercise {
    padding: 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.optionButton {
    background-color: white;
    padding: 1rem 2rem;
    margin-right: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px black;
    border-radius: 5px;
}

.optionButton:hover,
.clicked {
    background-color: #efffbf;
    border: 1px solid #87A922;
    box-shadow: 0px 2px #87A922;
}

.optionButton:active {
    box-shadow: none;
}

.checkAnswer {
    display: block;
}

.displayNone {
    display: none !important;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.exitLesson a {
    text-decoration: none;
    color: #8f7901;
    font-weight: bold;
}

#myProgress {
    width: 50%;
    background-color: #ddd;
    border-radius: 15px;
}

#myBar {
    width: 0;
    border-radius: 15px;
    height: 30px;
    background-color: #87A922;
}

.makeSentenceDiv {
    min-height: 8rem;
    height: auto;
    background-color: #F7F6BB;
    margin-bottom: 2rem;
}

.nextExercise,
.checkAnswer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.correctAnswer {
    background-color: #d7ffb8;
    color: #58cc02;
}

.correctAnswer button,
.checked {
    background-color: #58cc02;
    border-bottom: 3px solid #58a700;
}

.wrongAnswer {
    background-color: #f8d7da;
    color: #ff4b4b;
}

.wrongAnswer button {
    background-color: #ff4b4b;
    border-bottom: 3px solid #ea2b2b;
}

.wrongAnswer button,
.correctAnswer button,
#checkAnswerButton {
    color: white;
    padding: 1rem 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrongAnswer button:active,
.correctAnswer button:active,
.checked:active {
    border: none;
}

.nextExerciseLeft {
    display: flex;
    align-items: center;
}

.lessonCompleted {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lessonCompleted h1 {
    text-align: center;
}

.lessonCompleted button {
    cursor: pointer;
    text-decoration: none;
    background-color: #58cc02;
    border: 1px solid #4fb401;
    color: white;
    border-radius: 15px;
    box-shadow: 0 2px #4fb401;
}

.coins-reward {
    border: 2px solid #ffc800;
    border-top: 20px solid #ffc800;
    padding: 1rem 3rem;
    border-radius: 15px;
    margin-bottom: 3rem;
}


/* STORYMODE */
.images {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 25%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    background-color: white;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.image-container.overlay .overlay-text {
    opacity: 0.8;
}

.storymode-task {
    font-weight: 500;
}

/* FLASHCARDS */

.flashcardCategories {
    width: 30%;
    background-color: rgb(255, 238, 145, 0.2);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-right: 1px solid black;
    padding: 1rem 0;
}

.flashcardCategory {
    margin: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: none;
    cursor: pointer;
}

.categoryButton button {
    padding: 1rem 2rem;
}

.categoryIcons button {
    padding: 1rem 0.5rem;
}

.categoryIcons {
    display: flex;
}

.categoryButton,
.categoryButton button {
    display: flex;
    flex: 1;
}

.flashcardCategory button,
.flashcard button {
    background: none;
    border: none;
    cursor: pointer;
}

.flashcards {
    width: 70%;
}

.addFlashCardCategory {
    text-align: center;
}

.addFlashCardCategory h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 15px;
}

.close {
    transform: translateX(50%) translateY(-50%);
    background-color: white;
    font-size: 2rem;
    border-radius: 100px;
    border: 1px solid #aaa;
    width: 35px;
    text-align: center;
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    background-color: #eaeaea;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader,
.modalText,
.modalInputDiv {
    border-bottom: 1px solid lightgray;
    padding: 0 0 1rem 1rem;
}

.modalInputDiv {
    margin-bottom: 1rem;
}

.modalInput {
    border-radius: 5px;
    padding: 0.5rem;
    width: 92%;
}

.modalBtnsDiv {
    text-align: right;
    padding: 0 1rem 1rem 0;
}

.fade-in {
    animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flashcardItem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flashcardsTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem;
}

.flashcardsDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openAddFlashcardModalBtn {
    margin-bottom: 1rem;
}

.flashcard {
    display: flex;
    background-color: white;
    margin-bottom: 1rem;
    width: 80%;
    border: 1px solid #ffc800;
    border-radius: 10px;
}

.flashcard p {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.flashcardParagraphSolidLine {
    border-right: 3px solid #ffc800;
}

.flashcardParagraphDashedLine {
    border-right: 2px dashed #ffc800;
}

.flashcard span {
    color: #ffc800;
    margin: 1rem;
}

.flashcardsModalDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.study-flashcards-button {
    background-color: #1cb0f6;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    border-bottom: 3px solid #1899d6;
}

.study-flashcards-button:active {
    border-bottom: none;
}

.show-more-div {
    text-align: center;
}

.show-more {
    background-color: #dfdfdf;
    border: 1px solid #aaa;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

/* STUDY FLASHCARDS */

#flashcardMain {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.flip-container:hover .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    background-color: white;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
    min-width: 70%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    user-select: none;
}

#scores {
    display: flex;
}

#scores button,
.flashcardItem .score {
    padding: 1rem 1.5rem;
    border-radius: 100%;
    margin: 0.5rem 1rem;
    border: none;
}

#scores button {
    cursor: pointer;
}

.scoreButton0 {
    background-color: lightgray;
}

.scoreButton1 {
    background-color: red;
}

.scoreButton2 {
    background-color: orange;
}

.scoreButton3 {
    background-color: yellow;
}

.scoreButton4 {
    background-color: lightblue;
}

.scoreButton5 {
    background-color: greenyellow;
}

.flashcard-navigation {
    display: flex;
    margin-top: 1rem;
}

#prevBtn {
    margin-right: 1rem;
}

#prevBtn,
#nextBtn {
    background-color: #1cb0f6;
    border: none;
    border-bottom: 3px solid #1899d6;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


/* ICONS */

.fa-star {
    color: lightgray;
    text-shadow: 0px 2px 4px rgba(0, 0, 0);
}

.fa-star:active {
    text-shadow: none;
}

.completed {
    color: #ffc800;
}

.fa-ear-listen {
    background-color: white;
    padding: 2rem;
    border: 1px solid #FCDC2A;
    margin-bottom: 2rem;
}

.fa-coins,
.fa-ticket {
    color: #8c7700;
}

.fa-xmark,
.correctAnswer .fa-check {
    border: 1px solid;
    border-radius: 100%;
    padding: 1rem 1.2rem;
    background-color: #f8f6f3;
    margin-right: 15px;
}


/* SHOP */
.shop {
    text-align: center;
}

.membershipItems,
.coinsItems {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.shopItem {
    background-color: white;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid #ffc800;
}

.shopItemButton {
    padding: 0.5rem 2rem;
    cursor: pointer;
}


/* STRIPE PAGE */
.flex {
    display: flex;
}
.payment {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 80vh;
}

.product-information {
    background-color: #ffc800;
    border-radius: 15px 0 0 15px;
}

.product-information,
.payment form {
    padding: 0 7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.payment form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border-radius: 0 15px 15px 0;
}

.stripe-logo {
    width: 30%;
    margin: 0 auto;
}

.payment #submit {
    background-color: #ffc800;
    border: 1px solid #ffc800;
    padding: 1rem;
    border-radius: 10px;
}

#card-holder-name,
.InputElement {
    padding:  0.5rem;
    border-radius: 5px;
    background-color: white;
}

.ElementsApp input {
    border: 1px solid gray !important;
    background-color: white  !important;
}


/* PURCHASE HISTORY  */
.purchase-history {
    text-align: center;
}

.purchase-history {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.purchase-history .table-head {
    background-color: rgb(255, 238, 145, 0.8);;
}

.purchase-history td,
.purchase-history th {
    padding: 1rem 2rem;
}

.purchase-history .table-body {
    border-bottom: 1px solid lightgray;
}

.burger-menu {
    display: none;
}

/* RESPONSIVE */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px - 992px) */
@media only screen and (max-width: 992px) {
    .membershipItems,
    .coinsItems,
    #scores,
    .homepage,
    .flashcardItem,
    .images {
        flex-direction: column;
    }

    /* HOMEPAGE */

    .homepage {
        position: static;
    }

    .homepage-left, .homepage-right {
        height: 50vh;
        width: 100%;
    }

    .homepage-right::before {
        border-top-left-radius: 0;
    }

    .sign h1 {
        text-align: center;
    }

    header {
        flex-direction: column;
    }

    #registerForm {
        width: 100%;
    }

    #registerForm input {
        width: auto !important;
    }

    .prevBtn {
        margin-bottom: 1rem;
    }

    /* SECTIONS */

    .currency {
        text-align: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        margin: 10px;
    }
    
    .burger-menu .line {
        height: 3px;
        background: black;
    }

    .sections {
        display: none;
        flex-direction: column;
        padding: 10px;
        padding: 0;
    }

    .sectionTypes {
        margin: 0;
        width: 100%;
    }
    
    .sections.active {
        display: flex;
    }

    .sectionsMain,
    .flashcardsMain {
        display: block;
        overflow: visible;
    }

    .section {
        padding: 1.5rem 0 1.5rem 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        text-align: center;
    }

    /* FLASHCARDS */

    .courses,
    .flashcardsMain {
        flex-direction: column;
        width: 100%;
    }

    .flashcardCategories,
    .flashcards {
        width: 100%;
    }

    .flashcardsTop {
        flex-direction: column;
        align-items: center;
    }

    .flashcards-add-buttons {
        text-align: center;
        margin-bottom: 1rem;
    }

    .flashcard {
        width: 95%;
    }


    /* EXERCISES */

    .exerciseSection {
        height: 100vh;
    }

    .nextExercise, .checkAnswer {
        position: fixed;
    }

    .image-container {
        width: 100%;
    }


    /* SHOP */

    .payment {
        flex-direction: column;
        justify-content: flex-start;
    }

    .product-information, .payment form {
        padding: 0 1rem;
    }

    .product-information {
        text-align: center;
        border-radius: 15px 15px 0 0;
    }

    .payment form {
        padding-bottom: 1rem;
        border-radius: 0 0 15px 15px;
    }

    /* MODALS */

    .modal-content {
        width: 100%;
        text-align: center;
    }

    .modalHeader {
        padding: 0;
    }

    .modalBtnsDiv {
        text-align: center;
        padding-right: 0;
    }

    .close {
        transform: none;
        border: none;
    }
}