/* COMMONG */
.capitalize {
    text-transform: capitalize;
}

.startLesson,
.shopItemButton {
    transition: 0.5s;
    text-decoration: none;
    background-color: #ffd900;
    border: 1px solid #ffd900;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.startLesson:hover,
.shopItemButton:hover {
    transition: 0.5s;
    border: 1px solid #ffd900;
    background-color: white;
    color: #ffd900;
}

body {
    margin: 0 auto;
    background-color: #f8f6f3;
}

.lessonsBody,
.flashcardsBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lessonsBody::-webkit-scrollbar,
.sections::-webkit-scrollbar,
.lessons::-webkit-scrollbar,
.flashcardsBody::-webkit-scrollbar,
.flashcardCategories::-webkit-scrollbar,
.flashcards::-webkit-scrollbar {
    display: none;
}

.sectionsMain,
.flashcardsMain {
    margin: 0;
    flex: 1;
    overflow: hidden;
}


/* HOME PAGE */

.homepage {
    font-family: din-round, sans-serif;
}

.homepage {
    margin: 0;
    text-align: center;
}

.homepage-left,
.homepage-right {
    width: 50%;
    height: 100vh;
}

.homepage-left,
.homepage-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-right {
    position: relative;
}

.homepage-right a,
.homepage-right h3 {
    z-index: 1;
    text-decoration: none;
}

.homepage-right::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffd900;
    border-top-left-radius: 70%;
}

.homepage-right a {
    min-width: 150px;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.homepage-right a:active {
    margin-top: 3px;
    border: none;
}

.register {
    background-color: #58cc02;
    color: white;
    border-bottom: 3px solid #224e00;
}

.register:hover {
    background: linear-gradient(to right,
            #3b9400 0%,
            #4ab800 25%,
            #58cc02 50%,
            #4ab800 75%,
            #3b9400 100%);
}

.login {
    background-color: #f8f6f3;
    color: black;
    border-bottom: 3px solid #b9b8b6;
}

.login:hover {
    background: linear-gradient(to right,
            #dcdad7 0%,
            #ebe9e6 25%,
            #f8f6f3 50%,
            #ebe9e6 75%,
            #dcdad7 100%);
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li {
    margin-right: 2rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:visited {
    color: black;
}

.dropbtn {
    background: none;
    border: none;
}

.selectCourseDropdown {
    position: relative;
    display: inline-block;
}

.userCourses {
    margin-top: 10px;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 50%;
    transform: translateX(50%);
}

.userCourses::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    transform: translateX(-50%);
}

.course {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

.userCourses img {
    width: 50px;
    padding: 10px;
}

.selectCourseDropdown:hover .userCourses {
    display: block;
}

.addLanguage {
    border-top: 1px solid black;
    padding: 10px;
}

.headerFlag {
    width: 30px;
}


/* SECTIONS & LESSONS */

.sectionTypes {
    width: 95%;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 15px;
}

main {
    display: flex;
}

.popover {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    border: 1px solid #ffd900;
    padding: 2rem 4rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.popover::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffd900 transparent;
    transform: translateX(-50%);
}

.startLesson {
    padding: 1rem 4rem;
}

.sections,
.lessons,
.flashcardCategories,
.flashcards {
    overflow-y: scroll;
}

.sections {
    padding-top: 1rem;
}

.lessons {
    display: flex;
    flex-grow: 1;
    display: block;
    text-align: center;
}

.lessonSequence {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #ffd900;
    font-family: cursive;
}

.section,
.lesson {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.section {
    padding: 1.5rem 15rem 1.5rem 1rem;
    background-color: #ffd900;
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-content: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    height: 7rem;
}

.section p {
    margin: 0;
}

.section button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid #c9ab00;
    background-color: #ffd900;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.section button:hover {
    background-color: #e6c302;
}

.section button:active {
    box-shadow: none;
}

.description {
    margin-bottom: 1rem !important;
    font-size: 15px;
}


/* EXERCISES */

.exerciseSection {
    margin-top: 1rem;
}

.exercise {
    padding: 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.optionButton {
    background-color: white;
    padding: 1rem 2rem;
    margin-right: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px black;
    border-radius: 5px;
}

.optionButton:hover,
.clicked {
    background-color: #efffbf;
    border: 1px solid #87A922;
    box-shadow: 0px 2px #87A922;
}

.optionButton:active {
    box-shadow: none;
}

.checkAnswer {
    display: block;
}

.displayNone {
    display: none !important;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.exitLesson a {
    font-size: 2rem;
    text-decoration: none;
    color: #8f7901;
    font-weight: bold;
}

#myProgress {
    width: 50%;
    background-color: #ddd;
    border-radius: 15px;
}

#myBar {
    width: 0;
    border-radius: 15px;
    height: 30px;
    background-color: #87A922;
}

.makeSentenceDiv {
    min-height: 8rem;
    height: auto;
    background-color: #F7F6BB;
    margin-bottom: 2rem;
}

.nextExercise,
.checkAnswer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.correctAnswer {
    background-color: #d7ffb8;
    color: #58cc02;
}

.correctAnswer button,
.checked {
    background-color: #58cc02;
    border-bottom: 3px solid #58a700;
}

.wrongAnswer {
    background-color: #f8d7da;
    color: #ff4b4b;
}

.wrongAnswer button {
    background-color: #ff4b4b;
    border-bottom: 3px solid #ea2b2b;
}

.wrongAnswer button,
.correctAnswer button,
#checkAnswerButton {
    color: white;
    padding: 1rem 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrongAnswer button:active,
.correctAnswer button:active,
.checked:active {
    border: none;
}

.nextExerciseLeft {
    display: flex;
    align-items: center;
}


/* STORYMODE */
.images {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 25%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    background-color: white;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.image-container.overlay .overlay-text {
    opacity: 0.8;
}

/* FLASHCARDS */

.flashcardCategories {
    width: 30%;
    background-color: rgb(255, 238, 145, 0.2);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-right: 1px solid black;
    padding: 1rem 0;
}

.flashcardCategory {
    margin: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: none;
    cursor: pointer;
}

.categoryButton button {
    padding: 1rem 2rem;
}

.categoryIcons button {
    padding: 1rem 0.5rem;
}

.categoryIcons {
    display: flex;
}

.categoryButton,
.categoryButton button {
    display: flex;
    flex: 1;
}

.flashcardCategory button,
.flashcard button {
    background: none;
    border: none;
    cursor: pointer;
}

.flashcards {
    width: 70%;
}

.addFlashCardCategory {
    text-align: center;
}

.addFlashCardCategory h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 1rem 2rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader,
.modalText,
.modalInputDiv {
    border-bottom: 1px solid lightgray;
    padding: 0 0 1rem 1rem;
}

.modalInputDiv {
    margin-bottom: 1rem;
}

.modalInput {
    border-radius: 5px;
    padding: 0.5rem;
    width: 92%;
}

.modalBtnsDiv {
    text-align: right;
    padding: 0 1rem 1rem 0;
}

.fade-in {
    animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flashcardItem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flashcardsTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flashcardsDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openAddFlashcardModalBtn {
    margin-bottom: 1rem;
}

.flashcard {
    display: flex;
    background-color: white;
    margin-bottom: 1rem;
    width: 80%;
    border: 1px solid #ffd900;
    border-radius: 10px;
}

.flashcard p {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.flashcardParagraphSolidLine {
    border-right: 3px solid #ffd900;
}

.flashcardParagraphDashedLine {
    border-right: 2px dashed #ffd900;
}

.flashcard span {
    color: #ffd900;
    margin: 1rem;
    font-size: 25px;
}

/* STUDY FLASHCARDS */
#flashcardMain {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.flip-container:hover .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    background-color: white;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
    min-width: 70%;
    min-height: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    user-select: none;
}

#scores {
    display: flex;
}

#scores button,
.flashcardItem .score {
    padding: 1rem 1.5rem;
    border-radius: 100%;
    margin: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
}

#scores button {
    cursor: pointer;
}

.scoreButton0 {
    background-color: lightgray;
}

.scoreButton1 {
    background-color: red;
}

.scoreButton2 {
    background-color: orange;
}

.scoreButton3 {
    background-color: yellow;
}

.scoreButton4 {
    background-color: lightblue;
}

.scoreButton5 {
    background-color: greenyellow;
}

/* ICONS */

.fa-star {
    color: lightgray;
    font-size: 4rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0);
}

.fa-star:active {
    text-shadow: none;
}

.completed {
    color: #ffd900;
}

.fa-ear-listen {
    background-color: white;
    padding: 2rem;
    border: 1px solid #FCDC2A;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.fa-coins,
.fa-ticket {
    color: #8c7700;
}

.fa-xmark,
.fa-check {
    font-size: 30px;
    border: 1px solid;
    border-radius: 100%;
    padding: 1rem 1.2rem;
    background-color: #f8f6f3;
    margin-right: 15px;
}


/* SHOP */
.shop {
    text-align: center;
}

.membershipItems,
.coinsItems {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.shopItem {
    background-color: white;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid #ffd900;
}

.shopItemIcon i {
    font-size: 4rem;
}

.shopItemButton {
    padding: 0.5rem 2rem;
    cursor: pointer;
}


/* STRIPE PAGE */
.flex {
    display: flex;
}
.payment {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.payment input {
    width: 100%;
}

#card-holder-name,
.InputElement {
    padding:  0.5rem;
    border-radius: 5px;
    background-color: white;
}

.ElementsApp input {
    border: 1px solid gray !important;
    background-color: white  !important;
}