<header class="left-header">
    <h1>Администратор</h1>
    <nav>
        <ul>
            <li><a href="/admin">Раздели</a></li>
            <li><a href="/admin/create/account">Добавяне на администраторски профил</a></li>
            <li><a href="/admin/add/course">Добавяне на курс</a></li>
            <li><a href="/admin/shop-items">Добавяне на предмет в магазина</a></li>
        </ul>
    </nav>
    <%- include('../partials/logoutForm') %>
</header>