<header>
    <div class="left">
        <ul>
            <li><a href="/section/1/course/1/lessons">Уроци</a></li>
            <li><a href="/section/1/course/1/lessons">Речник</a></li>
            <li><a href="/section/1/course/1/lessons">Магазин</a></li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>
                <i class="fa-solid fa-coins"></i>
                <%= userData.userCurrency %>
            </li>
            <li>
                <div class="selectCourseDropdown">
                    <button class="dropbtn">
                        SELECT
                    </button>
                    <div class="userCourses">
                        <% for(const course of userData.coursesTaken) { %>
                            <form action="/section/1/<%= course.language %>/lessons">
                                <button class="course">
                                    <img src="<%= course.flag %>" alt="">
                                    <%= course.language %>
                                </button>
                            </form>
                        <% } %>

                        <a href="/courses/add">
                            <div class="addLanguage">Добави курс</div>
                        </a>
                    </div>
                </div>
            </li>
            <li>Профил</li>
        </ul>
    </div>
</header>

<script src="/js/addCourseToLocalStorage.js"></script>