<div class="formInput">
    <input type="text" name="username" id="username" placeholder="Потребителско име" required>
</div>

<div class="formInput">
    <input type="password" name="password" id="password" placeholder="Парола" required>
</div>

<input type="hidden" id="selectedLanguage" name="selectedLanguage">