<div class="formInput">
    <input type="text" name="username" placeholder="Потребителско име">
</div>

<div class="formInput">
    <input type="email" name="email" placeholder="Email">
</div>

<div class="formInput">
    <input type="password" name="password" placeholder="Парола">
</div>

<div class="formInput">
    <input type="password" name="passwordRepeat" placeholder="Повторете паролата">
</div>
