<div class="formInput">
    <input type="text" name="username" placeholder="Потребителско име" required>
</div>

<div class="formInput">
    <input type="email" name="email" placeholder="Email" required>
</div>

<div class="formInput">
    <input type="password" name="password" placeholder="Парола" required>
</div>

<div class="formInput">
    <input type="password" name="passwordRepeat" placeholder="Повторете паролата" required>
</div>
