<div class="formInput">
    <label for="username">Потребителско име</label>
    <input type="text" name="username">
</div>

<div class="formInput">
    <label for="email">Email</label>
    <input type="email" name="email">
</div>

<div class="formInput">
    <label for="password">Парола</label>
    <input type="password" name="password">
</div>

<div class="formInput">
    <label for="passwordRepeat">Повторете паролата</label>
    <input type="password" name="passwordRepeat">
</div>

<button>Регистрация</button>