<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <title>Добавяне на курс</title>
</head>
<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <%- include('../partials/flashMessages') %>

            <form id="addCourseForm" action="/admin/add/course" method="POST">
                <h2>Избор на език</h2>

                <div class="formInput">
                    <label for="language">Език (на латиница)</label> <br>
                    <input id="language" type="text" name="language">
                </div>

                <div class="formInput">
                    <label for="cyrillic-name">Език (на кирилица)</label> <br>
                    <input id="cyrillic-name" type="text" name="cyrillicName">
                </div>

                <div class="formInput">
                    <label for="iso2">ISO2 код на държава</label> <br>
                    <input id="iso2" type="text" name="iso2">
                </div>

                <br>
                <button class="add">Добави</button>
            </form>
        </div>
    </div>

</body>
</html>