<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавяне на раздел</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
</head>

<body>
    <form id="addForm" action="/admin/add/<%= courseId %>/section" method="POST">
        <div class="formInput alignCenter">
            <p>
                <a href="/admin">admin</a> > <u>add/section</u>
            </p>
        </div>

        <div id="sectionTypesDiv" class="formInput">
            <label for="sectionTypes">Тип на раздела</label>
            <select name="sectionTypes" id="sectionTypes">
                <option value="free">Безплатен раздел</option>
                <option value="premium">Платен раздел</option>
            </select>
        </div>

        <div id="freeSectionDescriptionDiv" class="formInput">
        </div>

        <div id="premiumSectionsDiv" class="formInput">
            
        </div>

        <div class="formInput alignCenter">
            <button class="add">Добавяне</button>
        </div>
    </form>

    <script src="/js/selectSectionType.js"></script>
</body>

</html>