<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <title>Създаване на профил</title>
</head>
<body>
    <div class="page-content">
        <%- include('../partials/adminHeader') %>

        <div class="content">
            <h2>Регистрация</h2>

            <div class="formDiv">
                <form class="admin-registration" action="/admin/create/account" method="POST">
                    <%- include('../partials/registrationForm') %>
                    <br>
                    <button class="signButton">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>