<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Създаване на профил</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/admin/create/account" method="POST">
        <%- include('../partials/registrationForm') %>
    </form>
</body>
</html>