<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <title>Вход</title>
</head>
<body>
    <main class="sign">
        <%- include('../partials/flashMessages') %>

        <h1>Администраторски вход</h1>

        <form action="/admin/login" method="POST">
            <%- include('../partials/loginForm') %>

            <button class="signButton loginBtn">Вход</button>
        </form>
    </main>
</body>
</html>