<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class = "exerciseSection">
        <div class="top">
            <div class="exitLesson">
                <a href="/section/<%= sectionSequence %>/<%= language %>/lessons">&times;</a>
            </div>
            
            <div id = "myProgress">
                <div id = "myBar"></div>
            </div>
        </div>
        
        <div class = "exercise">
            
        </div>

        <div class = "nextExercise displayNone">
            <p class = "message"></p>
            <button id = "showNext">Напред</button>
        </div>
    </section>
    
    <script src="/js/checkCorrectAnswer.js" exercises = "<%= JSON.stringify(exercises) %>" lessonSequence = "<%= lessonSequence %>"></script>
</body>
</html>