<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
</head>
<body class="lessonsBody">
    <%- include('../partials/header') %>

    <main class="sectionsMain">
        <section class="sections">
            <select name="sectionTypes" class="sectionTypes">
                <option value="1" url="/<%= language %>/free/lessons" selected>Безплатни раздели</option>
                <option value="2" url="/<%= language %>/premium/lessons">Платени раздели</option>
            </select>
        </section>
        
        <section class="lessons">
            
        </section>
    </main>

    <script src="/js/togglePopover.js"></script>
    <script src="/js/showSections.js" 
        sectionType = "free"
        lang = "<%= language %>">
    </script>
</body>
</html>