<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Document</title>
</head>
<body>
    <main class="homepage">
        <div class="homepage-left">
            <h1>Най-голямата платформа за учене на чужди езици</h1>
            <p>Присъединете се към милиони потребители, които учат езици, сега</p>
        </div>
        <div class="homepage-right">
            <h3>Присъединете се сега</h3>
            <a class="register" href="/register">Регистрация</a>
            <a class="login" href="/login">Вход</a>
        </div>
    </main>
</body>
</html>