<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Вход</title>
</head>
<body>
    <main class="sign">
        <%- include('../partials/flashMessages') %>

        <h1>Вход</h1>
        
        <form action="/login" method="POST">
            <%- include('../partials/loginForm') %>

            <p>Нямате профил? <a class="registerLink" href="/register">Регистрация</a></p>

            <button class="signButton loginBtn">Вход</button>
        </form>

        <div class="bottomBackground"></div>
    </main>

    <script src="/js/getCourseFromLocalStorage.js"></script>
</body>
</html>