<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    <form action="/login" method="POST">
        <div class="formInput">
            <label for="username">Потребителско име</label>
            <input type="text" name="username">
        </div>

        <div class="formInput">
            <label for="password">Парола</label>
            <input type="password" name="password">
        </div>

        <button>Вход</button>
    </form>
</body>
</html>