<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/common-styles.css" />
    <title>Регистрация</title>
</head>
<body>
    <main class="sign">
        <%- include('../partials/flashMessages') %>

        <h1>Регистрация</h1>
        
        <form id="registerForm" action="/register" method="POST">
            <div class="step">
                <%- include('../partials/availableCourses') %>

                <button type="button" class="nextBtn disabled">Напред</button>
            </div>
            <div class="step">
                <%- include('../partials/registrationForm') %>

                <button type="button" class="prevBtn">Назад</button>
                <button class="signButton">Регистрация</button>
            </div>
        </form>
    </main>

    <script src="/js/multistepForm.js"></script>
    <script src="/js/selectLanguage.js"></script>
</body>
</html>